**1.What are the types of Applications?**

---
Ans. There are many types of applications:
Web application, Mobile application, Command-line application,	Gaming application, Data analysis and visualization application, Business application, Education application, Health and fitness applications, Utility application, Productivity application, Networking application,

**2.	What is programming?**

---
Ans. Programming is the process of writing instructions for a computer to follow in order to perform a task or solve a problem.

**3.	What is Python?**

---
Ans. Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.

**4.	Write a Python program to check if a number is positive, negative or zero.**

In [ ]:
num=int(input("Enter a number : "))
if num>0:
  print("The number is positive")
elif num==0:
      print("The number is zero")
else:
    print("The number is negative")

Enter a number : 5
The number is positive

**5.  Write a Python program to get the Factorial number of given numbers.**

In [ ]:
def factorial(n):
  if n < 0:
    raise ValueError("Factorial is not defined for negative numbers")
  elif n == 0:
    return 1
  else:
    fact = 1
    for i in range(1, n + 1):
      fact *= i
    return fact

num = int(input("Enter a non-negative integer: "))
result = factorial(num)
print("The factorial of", num, "is", result)

Enter a non-negative integer: 5
The factorial of 5 is 120

**6.  Write a Python program to get the Fibonacci series of given range.**

In [ ]:
def fibonacci_sequence(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

num = int(input("Enter the range: "))
print(list(fibonacci_sequence(num)))

Enter the range: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**7. How memory is managed in Python?**

---
Ans. Python manages memory automatically, using a private heap to store data structures and objects.

 **8. What is the purpose continuing statement in python?**

---
Ans. The continue statement is used to skip the remaining code inside a loop for the current iteration only.

**9.  Write python program that swap two number with temp variable
and without temp variable.**

In [ ]:
a = 20
b = 30

a = a + b
b = a - b
a = a - b

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 30
b = 20

In [ ]:
# use temp variable


a = 20
b = 30

temp = a
a = b
b = temp

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 30
b = 20

**10. Write a Python program to find whether a given number is even
or odd, print out an appropriate message to the user.**

In [ ]:
num = int(input("Enter a number: "))
print(['Even', 'Odd'][num % 2])

Enter a number: 278
Even

**11. Write a Python program to test whether a passed letter is a vowel
or not.**

In [ ]:
def is_vowel(letter):
  return letter in "aeiouAEIOU"

letter = input("Enter a letter: ")

if is_vowel(letter):
  print(f"{letter} is a vowel.")
else:
  print(f"{letter} is not a vowel.")

Enter a letter: Dhruv
Dhruv is not a vowel.

**12. Write a Python program to sum of three given integers. However, if
two values are equal sum will be zero.**

In [ ]:
def sumthree(a,b,c):
  if a==b or b==c or a==c:
    return 0
  else:
    return a+b+c
num1=int(input("Enter a number: "))
num2=int(input("Enter a number: "))
num3=int(input("Enter a number: "))
print(sumthree(num1,num2,num3))

Enter a number: 15
Enter a number: 20
Enter a number: 65
100

**13. Write a Python program that will return true if the two given
integer values are equal or their sum or difference is 5.**

In [ ]:
def checknumers(a,b):
  if a==b or a+b==5 or a-b==5:
    return True
  else:
    return False
num1=int(input("Enter a number: "))
num2=int(input("Enter a number: "))
print(checknumers(num1,num2))

Enter a number: 5
Enter a number: 4
False

**14.  Write a python program to sum of the first n positive integers.**

In [ ]:
num=int(input("Enter a number: "))
sum=(num*(num+1))/2
print(sum)

Enter a number: 2
3.0


**15. Write a Python program to calculate the length of a string.**

In [ ]:
string=input("Enter a string: ")
print(len(string))

Enter a string: Dhruv Kathrotiya
16

**16. Write a Python program to count the number of characters
(character frequency) in a string.**

In [ ]:
from typing_extensions import Counter
string=input("Enter a string: ")
result=Counter(string)
print(result)

Enter a string: Dhruv Kathrotiya
Counter({'h': 2, 'r': 2, 'a': 2, 't': 2, 'D': 1, 'u': 1, 'v': 1, ' ': 1, 'K': 1, 'o': 1, 'i': 1, 'y': 1})

**17. What are negative indexes and why are they used?**

**18. Write a Python program to count occurrences of a substring in a string.**

In [ ]:
st = input("inter the any string =")

sub = input("inter the any substring =")

print(st.count(sub))

inter the any string =python is programing languvej
inter the any substring =is
1

**19. Write a Python program to count the occurrences of each word in a given sentence.**

In [ ]:
sentence = input("Enter a sentence: ").lower()
words = sentence.split()
word_count = {}

for word in words:
    word = word.strip(".,!?")
    word_count[word] = word_count.get(word, 0) + 1


for word, count in word_count.items():
    print(f"{word}: {count}")

Enter a sentence: dhruv is good boy and is  vary intaligan
dhruv: 1
is: 2
good: 1
boy: 1
and: 1
vary: 1
intaligan: 1

**20. Write a Python program to get a single string from two given strings,
separated by a space and swap the first two characters of each string.**

In [ ]:

str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

new_str1 = str2[0] + str2[1] + str1[2:]
new_str2 = str1[0] + str1[1] + str2[2:]

result = new_str1 + " " + new_str2

print("Result:", result)

Enter first string: dhruv
Enter second string: vinodbhahi
Result: viruv dhnodbhahi

**21. Write a Python program to add 'in' at the end of a given string (length
should be at least 3). If the given string already ends with 'ing' then
add 'ly' instead if the string length of the given string is less than 3,
leave it unchanged.**

**22. Write a Python function to reverses a string if its length is a multiple
of 4.**

In [ ]:
def reverse_if_multiple_of_4(s):
    if len(s) % 4 == 0:  # Check if length is a multiple of 4
        return s[::-1]  # Reverse the string
    return s  # Return original string if condition is not met

# Example usage
string = input("Enter a string: ")
result = reverse_if_multiple_of_4(string)
print("Result:", result)

Enter a string: code
Result: edoc

**23. Write a Python program to get a string made of the first 2 and the last
2 chars from a given a string. If the string length is less than 2, return
instead of the empty string.**

**24.  Write a Python function to insert a string in the middle of a string.**

In [ ]:
def insert_in_middle(main_str, insert_str):
    middle_index = len(main_str) // 2
    return main_str[:middle_index] + insert_str + main_str[middle_index:]

main_string = input("Enter the main string: ")
insert_string = input("Enter the string to insert: ")

result = insert_in_middle(main_string, insert_string)
print("Result:", result)

Enter the main string: dhruv
Enter the string to insert: chaudhary
Result: dhchaudharyruv

**25. What is List? How will you reverse a list?**

---
Ans. A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
list.reverse()
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

**26.  How will you remove last object from a list?**

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
del list[-1]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8]

**27.  Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [1]?**

---
Ans. In Python, list indexing starts from 0. So, when you access list1[1], it refers to the second element in the list.

In [ ]:
list=[2,33,222,14,25]
print(list[1])

33

**28.  Differentiate between append () and extend () methods?**

---
Ans. Here's a simple way to remember the difference:

append (): Adds a single element.

extend (): Extends the list with multiple elements.

**29.  Write a Python function to get the largest number, smallest num and sum of all from a list.**

In [ ]:
def list_stats(lst):
    return max(lst), min(lst), sum(lst)

numbers = [3, 7, 2, 9, 1, 5]
print(list_stats(numbers))

(9, 1, 27)

In [ ]:
def list_stats(lst):
  return max(lst), min(lst), sum(lst)


numbers = [1,2,3,4,5]
print(list_stats(numbers))

(5, 1, 15)

**30.  How will you compare two lists?**

---
Ans. you can compare two lists in Python using th == Operator.

In [ ]:
list1=[11,222,3333,44444]
list2=[11,222,3333,44444]
list3=[11,222,3333,55555]
print(list1==list2)
print(list1==list3)

True
False

**31. Write a Python program to count the number of strings where the string  
length is 2 or more and the first and last character are same from a given list of strings.**

**32. Write a Python program to remove duplicates from a list.**

In [ ]:
list=[1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
newlist=(set(list))
print(newlist)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**33. Write a Python program to check a list is empty or not.**

In [ ]:
list=[]
if len(list)==0:
  print("The list is empty")
else:
  print("The list is not empty")

The list is empty

**34. Write a Python function that takes two lists and returns true if they have at least one common member.**

**35. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.**

**36. Write a Python function that takes a list and returns a new list with
unique elements of the first list.**

In [ ]:
def uniqueelements(list1):
  newlist = list(set(list1))
  return newlist

list1 = [1, 2, 2, 3, 4, 4, 5]
result = uniqueelements(list1)
print(result)

[1, 2, 3, 4, 5]

**37. Write a Python program to convert a list of characters into a string.**

In [ ]:
def string(list1):
  string = ''.join(list1)
  return string

list1 = ['W', 'e', 'l', 'c', 'o','m','e']
result = string(list1)
print(result)

Welcome

**38. Write a Python program to select an item randomly from a list.**

In [ ]:
import random

list1=[1,2,3,4,5,6,7,8,9]
result=random.choice(list1)
print(result)

9

**39. Write a Python program to find the second smallest number in a list.**

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
list1.sort()
print(list1[1])

2

**40.  Write a Python program to get unique values from a list.**

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
unique_value=(set(list1))
print(unique_value)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**41. Write a Python program to check whether a list contains a sub list.**

**42. Write a Python program to split a list into different variables.**

In [ ]:
colour=['red','green','blue','yellow']
var1,var2,var3,var4=colour
print(var1)
print(var2)
print(var3)
print(var4)

red
green
blue
yellow

**43.What is tuple? Difference between list and tuple.**

---
Ans. A tuple is a finite, ordered list of elements that can be used in many fields, including mathematics, computer programming, and databases.

The key difference between tuples and lists is that
while tuples are immutable objects, lists are mutable.

**44. Write a Python program to create a tuple with different data types.**

In [ ]:
tuple=(1, "Welcome",3.14,True)
print(tuple)

(1, 'Welcome', 3.14, True)

**45.Write a Python program to unzip a list of tuples into individual lists.**

In [ ]:
tuples=[(1, 'A'), (2, 'B'), (3, 'C')]
unzip=list(zip(*tuples))
print(unzip)

[(1, 2, 3), ('A', 'B', 'C')]

**46. Write a Python program to convert a list of tuples into a dictionary.**

In [ ]:
tuples=[('A',1),('B',2),('C',3)]
dictionary=dict(tuples)
print(dictionary)

{'A': 1, 'B': 2, 'C': 3}

**47. How will you create a dictionary using tuples in python?**

---
Ans. You can use a dictionary assignment statement to assign a value to a key that's a tuple. For example, you can write directory[last, first] = number

**48. Write a Python script to sort (ascending and descending) a
dictionary by value.**

**49. Write a Python script to concatenate following dictionaries to create
a new one.**

In [ ]:
dict1={1: 10, 2: 20}
dict2={3: 30, 4: 40}
dict3={5: 50, 6: 60}
dict4={7: 70, 8: 80}
dict5={}
for i in (dict1,dict2,dict3,dict4):
  dict5.update(i)
print(dict5)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80}

**50. Write a Python script to check if a given key already exists in a
dictionary.**

**51. How Do You Traverse Through a Dictionary Object in Python?**

---
Ans. You can traverse through a dictionary object in Python using a for loop. here's how;

In [ ]:
dict={'A': 1, 'B': 2, 'C': 3}
for key in dict:
  print(key,dict[key])

A 1
B 2
C 3

**52. How Do You Check the Presence of a Key in A Dictionary?**

---
Ans. To check if a key exists in a Python dictionary, use the get() method.

**53. Write a Python script to print a dictionary where the keys are
numbers between 1 and 15.**

In [ ]:
dict={}

for i in range(1,16):
  dict[i]=i*i
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

**54. Write a Python program to check multiple keys exists in a dictionary.**

**55. Write a Python script to merge two Python dictionaries.**

In [ ]:
dict1={'A': 1, 'B': 2, 'C': 3}
dict2={'D': 4, 'E': 5, 'F': 6}
dict1.update(dict2)
print(dict1)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

**56. Write a Python program to map two lists into a dictionary
Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).**

**57. Write a Python program to find the highest 3 values in a dictionary.**

In [ ]:
dict = {'a': 50, 'b': 200, 'c': 150, 'd': 400, 'e': 100}

top_3_values = sorted(dict.values(), reverse=True)[:3]

print("The highest 3 values are:", top_3_values)

The highest 3 values are: [400, 200, 150]

**58. Write a Python program to combine values in python list of dictionaries.
Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':
300}, o {'item': 'item1', 'amount': 750}]
Expected Output:
• Counter ({'item1': 1150, 'item2': 300})**

**59. Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.**

**60. Sample string:
 'w3resource' Expected output:
• {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}**

**61. Write a Python function to calculate the factorial of a number (a
nonnegative integer)**

**62. Write a Python function to check whether a number is in a given range.**

In [ ]:
def is_in_range(num, start, end):
    if start <= num <= end:
        return True
    else:
        return False

print(is_in_range(5, 1, 10))
print(is_in_range(15, 1, 10))

True
False

**63. Write a Python function to check whether a number is perfect or not.**

**64. Write a Python function that checks whether a passed string is
palindrome or not.**

**65. How Many Basic Types of Functions Are Available in Python?**

---
Ans. The basic types of functions available in Python are:

1.  Built-in Functions

example:- print(), len(), type(), input(), sum()
2. User-defined Functions
3. Lambda Functions (Anonymous Functions)
4. Recursive Functions
5. Higher-order Functions
6. Generator Functions

**66. How can you pick a random item from a list or tuple?**

---
Ans. You can pick a random item from a list or tuple in Python using the random.choice() function from the random module. Here's how you can do it:

In [ ]:
# Example with a List:

import random

my_list = [1, 2, 3, 4, 5]
random_item = random.choice(my_list)
print(random_item)

3

In [ ]:
# Example with a Tuple:

import random

my_tuple = (10, 20, 30, 40, 50)
random_item = random.choice(my_tuple)
print(random_item)

50

**67. How can you pick a random item from a range?**

---
Ans. Since range() creates a sequence, you can use random.choice() to pick a random element from that sequence.

In [ ]:
import random

random_number = random.choice(range(1, 11))
print(random_number)

6

**68. How can you get a random number in python?**

---
Ans. Generate a random floating-point number between 0 and 1:

- The random() function generates a random float between 0 (inclusive) and 1 (exclusive).

In [ ]:
import random

random_number = random.random()
print(random_number)

0.01533402621190083

**69. How will you set the starting value in generating random numbers?**

---
Ans. You can use the random.seed() function to set the starting value for generating random numbers.

In [ ]:
import random

random.seed(77)
random_number = random.random()
print(random_number)

0.799115369116727

**70.  How will you randomize the items of a list in place?**

**71. What is File function in python? What are keywords to create
and write file.**

**72. Write a Python program to read an entire text file.**

**73. Write a Python program to append text to a file and display the text.**

**74. Write a Python program to read first n lines of a file.**

**75. Write a Python program to read last n lines of a file.**

**76. Write a Python program to read a file line by line and store it into a list.**

**77. Write a Python program to read a file line by line store it into a variable.**

**78. Write a python program to find the longest words.**

**79. Write a Python program to count the number of lines in a text file.**

**80. Write a Python program to count the frequency of words in a file.**

**81. Write a Python program to write a list to a file.**

**82. Write a Python program to copy the contents of a file to another file.**

**83. Explain Exception handling? What is an Error in Python?**

**84. How many except statements can a try-except block have? Name
Some built-in exception classes:**

**85. When will the else part of try-except-else be executed?**

**86. Can one block of except statements handle multiple exception?**

**87. When is the finally block executed?**

**88. What happens when „1‟== 1 is executed?**

**89. How Do You Handle Exceptions with Try/Except/Finally in Python?
Explain with coding snippets.**

**90. Write python program that user to enter only odd numbers, else
will raise an exception.**